@import url(https://fonts.googleapis.com/css?family=Google+Sans);
@import url(https://fonts.googleapis.com/css?family=Material+Icons+Outlined);

#checkbox {
  transform: scale(1.2);
}

#turndown-banner {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

#turndown-banner-icon-tray {
  padding-bottom: 10px;
}

#turndown-banner-title {
  font-size: 24px;
  padding-bottom: 5px;
}

#turndown-banner-subtitle {
  display: flex;
  justify-content: center;
}

#turndown-banner-subtitle-icon-tray {
  padding-right: 5px;
}

#turndown-banner-subtitle-text {
  font-size: 16px;
  color: #3c4043;
}

#turndown-uninstall {
  float: right;
}

#turndown-close-button:hover {
  border: 1px solid #dadce0;
  background-color: #dadce0;
}

#turndown-close-button {
  margin-right: 20px;
  color: #3c4043;
  background-color: #f1f3f4;
  border: 1px solid #f1f3f4;
}

#turndown-uninstall-button:hover {
  background-color: #185abc;
  border: 1px solid #185abc;
}

#turndown-uninstall-button {
  margin-right: 5px;
  color: #ffffff;
  background-color: #1a73e8;
  border: 1px solid #1a73e8;
}

button {
  cursor: pointer;
  font-size: 14px;
  min-width: 80px;
  padding: 4px 16px;
  border-radius: 2px;
  margin-bottom: 20px;
  font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
}

#turndown-notice {
  letter-spacing: 0.25px;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 20px;
  border: thin solid #757575;
  border-radius: 4px;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #4285f4;
  text-decoration: none;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  width: 500px;
  margin: auto;
  color: #202124;
  background-color: #ffffff;
}
