#headingsMapPanel {
    border-style: none !important;
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    margin: 0 !important;
    z-index: 100000000 !important;
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    direction: ltr !important;
}

@keyframes headingsMapOutline {
    0% {
        outline-color: transparent;
    }
    50% {
        outline-color: red;
    }
    100% {
        outline-color: transparent;
    }
}

*[data-headingsMap-highlight=true] {
    outline-width: 4px;
    outline-style: solid;
    outline-color: transparent;
    animation-name: headingsMapOutline;
    animation-iteration-count: 4;
    animation-duration: .5s;
}