h2 {
    margin: 5px 0 0;
}

h3 {
    margin: 0;
    border-bottom: 1px dotted;
}

p:not(.note),
li {
    line-height: 1.3;
    font-size: 1.1em;
}

li li,
li p:not(.note) {
    font-size: 1em;
}

p.note {
    clear: both;
}

p + p {
    margin-top: 0;
}

dl {
    margin-top: 10px;
    line-height: 1.3;
    font-size: 1.1em;
}

dt {
    font-weight: bold;
}

dd, li {
    margin-bottom: 5px;
}

li {
    margin-left: 0;
}

dd {
    margin-left: 30px;
}

.headingsMap-body {
    padding: 0;
    border-style: none;
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    margin: 0 !important;
    z-index: 100000000 !important;
    background: #FFFFFF !important;
    box-shadow: 0 0 5px rgba(50, 50, 50, .7) !important;
    display: block !important;
    visibility: visible !important;
    box-sizing: border-box !important;
    text-align: left;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
}

#headingsMapWrapper {
    overflow: auto;
    background-size: 100% 24px;
    position: relative;
    padding: 35px 0 1px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#extension_title {
    position: absolute;
    top: 0;
    left: 1%;
    margin: 0;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 66%;
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: auto 16px;
}

.results .tree-root {
    font-size: 1em;
    margin: 10px 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#headingsMapWrapper .tabs-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 2;
    overflow: hidden;
}

#headingsMapWrapper .action-button {
    border: none;
}

#headingsMapWrapper .panel-results {
    border-width: 1px 1px 0;
    border-style: solid;
    margin-top: -1px;
    flex-shrink: 1;
    flex-grow: 2;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior: none;
}

.visibility-legend {
    border-width: 0 1px;
    border-style: solid;
    padding: 2px 0;
    display: none;
    text-align: right;
}

.hiddenElementsCounter,
.visibleElementsCounter {
    padding-left: 20px;
    padding-right: 10px;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: auto 10px;
    display: inline;
}

.visibleElementsCounter {
    display: none;
}

[data-active=headingsTab].show-hidden-headers .visibility-legend,
[data-active=outlineTab].show-hidden-sections .visibility-legend {
    display: block;
}


#headingsMapWrapper .results {
    display: none;
    flex-shrink: 1;
    flex-grow: 2;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#headingsMapWrapper .results ul,
#headingsMapWrapper .results ol {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    width: 96%;
    list-style: none;
    background: url(icons/tree_d.gif) 3px top repeat-y;
}

#headingsMapWrapper .results ul ul,
#headingsMapWrapper .results ol ol {
    margin: 0;
    padding: 0;
    width: 100%;
}

.show-out-levels #headingsMapWrapper .results ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

.show-out-levels #headingsMapWrapper .results ol li {
    counter-increment: my-awesome-counter;
}

.show-out-levels #headingsMapWrapper .results ol li a::before {
    content: counter(my-awesome-counter);
}

#headingsMapWrapper .spinner {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: transparent url(spinner.gif) center center no-repeat;
    background-size: 125px;
}

#headingsMapWrapper .spinner.active,
#headingsMapWrapper .results.active {
    display: block;
}

#headingsMapWrapper .results section {
    padding-right: 7px;
}

#headingsMapWrapper .results section > ul,
#headingsMapWrapper .results section > ol {
    font-weight: normal;
    padding-left: 10px;
    background-position: 13px top;
    width: 99%;
}

#headingsMapWrapper .results li:nth-last-child(1) {
    background: url(icons/tree_c.gif) 3px top no-repeat;
}

#headingsMapWrapper .results li {
    position: relative;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    padding: 0 0 0 18px;
    background: url(icons/tree_b.gif) 3px top no-repeat;
    line-height: 1.4;
}

.temporal {
    position: absolute;
    left: 50%;
    top: 0;
    background: white;
}

#headingsMapWrapper .results li:nth-last-child(1) {
    background: url(icons/tree_c.gif) 3px top no-repeat;
}

#headingsMapWrapper *:focus {
    outline: none;
}

#headingsMapWrapper .results a,
#headingsMapWrapper .results .no-headed {
    font-weight: normal;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 0 3px 2px;
    margin: 0;
    cursor: pointer;
    border-right: 4px solid transparent;
}

.normal-wrap #headingsMapWrapper .results a,
.normal-wrap #headingsMapWrapper .results .no-headed,
.normal-wrap #headingsMapWrapper .results .tree-root {
    white-space: normal;
}

.show-hidden-headers #headingsMapWrapper .results[data-panel-id=headingsTab] a.hidden-head,
.show-hidden-sections #headingsMapWrapper .results[data-panel-id=outlineTab] a.hidden-head {
    background-position: 99% 5px;
    background-repeat: no-repeat;
    background-size: 10px auto;
}

.show-hidden-headers #headingsMapWrapper .results[data-panel-id=headingsTab] a.hidden-head,
.show-hidden-sections #headingsMapWrapper .results[data-panel-id=outlineTab] a.hidden-head,
.show-anchors #headingsMapWrapper .results a[href] {
    padding-right: 10px;
}

#headingsMapWrapper .results a[href] .anchor-icon {
    display: block;
    width: 15px;
    height: 1.5em;
    background-color: transparent;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 10px;
    position: absolute;
    right: 3px;
    top: 0;
}
.show-hidden-headers #headingsMapWrapper .results[data-panel-id=headingsTab] a[href].hidden-head .anchor-icon,
.show-hidden-sections #headingsMapWrapper .results[data-panel-id=outlineTab] a[href].hidden-head .anchor-icon {
    right: 15px;
}
.show-hidden-headers.show-anchors #headingsMapWrapper .results[data-panel-id=headingsTab].hidden-head a[href],
.show-hidden-sections.show-anchors #headingsMapWrapper .results[data-panel-id=outlineTab].hidden-head a[href]{
    padding-right: 25px;
}

#headingsMapWrapper .results a .aria-labelled-span,
#headingsMapWrapper .results a .aria-label-span,
#headingsMapWrapper .results .no-headed .aria-labelled-span,
#headingsMapWrapper .results .no-headed .aria-label-span {
    display: block;
    margin-bottom: -3px;
    padding-left: 14px;
    padding-bottom: 3px;
    font-style: italic;
}

#headingsMapWrapper .results a.collapsable .aria-labelled-span,
#headingsMapWrapper .results a.collapsable .aria-label-span,
#headingsMapWrapper .results .no-headed.collapsable .aria-labelled-span,
#headingsMapWrapper .results .no-headed.collapsable .aria-label-span {
    background: url(icons/tree_d.gif) 3px top no-repeat;
    background-repeat-y: repeat;
}

.additional-info:after {
    content: ' - ';
}

#headingsMapWrapper #main-menu {
    position: absolute;
    top: 0;
    right: 20px;
    width: 25px;
}

.menu-item {
    line-height: 20px;
    cursor: pointer;
    margin: 0;
    padding: 3px;
    list-style: none;
    z-index: 1000;
    opacity: .7;
    position: relative;
}

#headingsMapWrapper #main-menu li:first-child:after {
    display: block;
    content: ' ';
    border-style: solid;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: -7px;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    right: 11px;
}

#headingsMapWrapper #main-menu ul {
    padding: 3px;
    margin: 3px -10px 0 0;
    position: absolute;
    z-index: 3000;
    right: 7px;
    top: 25px;
    border: 1px solid;
    display: none;
}

#headingsMapWrapper #main-menu ul.active {
    display: block;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, .5);
    border-radius: 5px;
}

.menu-item,
.headingsMap_closer {
    padding-left: 27px;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 4px center;
    white-space: nowrap;
}

#headingsMapWrapper #main-menu #menu-link:hover,
#headingsMapWrapper #main-menu #menu-link:focus,
.menu-item:hover,
.menu-item:focus,
.headingsMap_closer:hover,
.headingsMap_closer:focus {
    opacity: .9;
}

#headingsMapWrapper #main-menu #menu-link,
.headingsMap_closer {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    opacity: .6;
    padding: 0;
    width: 20px;
}

#tabLinksId {
    position: relative;
    z-index: 20;
    display: none;
}
.is-outline-test-active #tabLinksId {
    display: block;
}

#headingsMapWrapper .tab-button {
    font-weight: normal;
    font-size: 1em;
    margin-left: auto;
    line-height: 24px;
    cursor: pointer;
    width: 33%;
    max-width: 190px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-style: solid;
    border-width: 2px 1px 0;
    opacity: .7;
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab-button {
    display: inline-block;
}

#headingsMapWrapper .tab-button.active {
    font-size: 1em;
    opacity: 1;
    font-weight: bold;
}

#headingsMapWrapper .no-headed,
#headingsMapWrapper .head-error {
    font-weight: normal;
    font-size: 1em;
}

.collapse-trigger {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 6px;
    font-size: 20px;
    top: -4px;
    z-index: 10;
}

.collapse-trigger.collapsed {
    top: -5px;
}

.collapse-trigger:before {
    content: "\025be";
}

.collapse-trigger.collapsed:before {
    content: "\025b8";
}

#sliding_dialog_panel {
    position: fixed;
    top: -140%;
    width: 600px;
    left: calc(50% - 300px);
    box-sizing: border-box;
    border: 1px solid;
    padding: 0 10px 10px;
    overflow-y: auto;
    transition: all .25s ease-out;
    z-index: 100000001;
    box-shadow: 0 0 5px rgba(50, 50, 50, .7) !important;
}

.dialog-active #sliding_dialog_panel {
    top: 30px;
    transition: all .15s ease-out;
    overflow-y: auto;
    max-height: 90%;
    overscroll-behavior: none;
    display: block;
}

#sliding_dialog_panel .headingsMap_closer {
    top: 5px
}

.dialog-active #sliding_dialog_panel .contents {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: none;
}

.dialog-active #tabLinksId,
.dialog-active .results,
.dialog-active .visibility-legend {
    filter: blur(5px);
    pointer-events: none;
    transition: filter .25s ease-out;
}

#tabLinksId,
.results {
    transition: filter .15s ease-out;
}

#utilsId {
    position: relative;
    top: -35px;
}

.dialog-active #utilsId,
.dialog-content {
    display: none;
}

.dialog-active .active:not(button) {
    display: block;
    overscroll-behavior: none;
}

#release_notes dt {
    position: relative;
}

#release_notes dd:before {
    content: '\2022';
    display: inline-block;
    margin-right: 4px;
    margin-left: -9px;
}

#release_notes li {
    font-size: inherit;
}

#sliding_dialog_panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sliding_dialog_panel .active {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sliding_dialog_panel h2 {
    padding-left: 30px;
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: 4px center;
    margin-bottom: 5px;
}

#sliding_dialog_panel .fieldset {
    margin: 10px 0;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid;
}

#headingsMapWrapper fieldset p {
    font-size: .9em;
    margin: 0 4px 4px;
}

#sliding_dialog_panel .fieldset legend {
    font-weight: bold;
}

#sliding_dialog_panel .fieldset label {
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 10px 0;
    font-weight: bold;
}

#sliding_dialog_panel .fieldset legend label {
    width: auto;
    margin: auto;
}

#sliding_dialog_panel .fieldset select {
    font-weight: normal;
}

#sliding_dialog_panel .fieldset label:nth-child(2n + 1) {
    clear: left;
}

/* Styles that depend on options classes */
.additional-info,
.tab-button[data-tab-id=outlineTab] {
    display: none;
}

.is-outline-test-active .tab-button[data-tab-id=outlineTab] {
    display: inline-block;
}

.show-head-levels .head-level,
.show-out-levels .section-index,
.show-section .tag-name {
    display: inline-block;
    pointer-events: none;
    padding-right: 4px;
}

.news-active #main-menu:before,
.news-active #headingsMap_release_notes:before,
.news-active #release_notes dt:first-child:before {
    content: "N";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 9px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: red;
    font-weight: bold;
    font-family: sans-serif;
    color: #FFF;
    text-shadow: 0 0 2px #666;
    z-index: 100;
    box-shadow: 0 0 2px #666;
    box-sizing: border-box;
    pointer-events: none;
}

.news-active #release_notes dt:first-child {
    padding-left: 20px;
}

.headingsMap-resizer {
    justify-content: center;
    align-items: center;
    width: 10px;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 100000000;
    background-color: #F0F0F0;
}

.headingsMap-resizer:before {
    position: absolute;
    border-left: 1px dotted rgba(0, 0, 0, 0.5);
    border-right: 1px dotted rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    content: '';
    display: block;
    opacity: .6;
    height: 300px;
    width: 4px;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -2px;
    cursor: col-resize;
}

.hidden {
    display: none;
}

.tooltip-content .anchor-icon,
.tooltip-content .hidden-head {
    background-color: transparent;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-left: 15px;
}

.donate_button {
    background-color: #2cc755;
    border-radius: 16px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 7px 19px;
    text-shadow: 0 1px 3px #2f6627;
}