#rightclick_bubble {
	z-index: 9999;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.55);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	max-width: 300px;
	width: auto !important;
	text-align: left;
	line-height: 100%;
	opacity: 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0000ff), color-stop(100%,#000090));
	text-decoration: none;
	font-variant: normal;
	text-transform: none;
	color: #fff;
	visibility: visible;
	height: auto;
	padding: 10px 10px 10px 10px;
	letter-spacing: normal;
	vertical-align: top;
	word-spacing: normal;
	opacity: 0;
	transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#rightclick_bubble.popup{
  	opacity: 1;
}

#rightclick_bubble  span.info {
	font-style: italic;
	color: #ff0;
}