body {
  width: 600px;
}

img {
  width: 100%;
}

.wrapper {
  height: 100%;
}

.wrapper .main-panel .navbar {
  height: 60px;
}

.wrapper .main-panel .navbar .navbar-header {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper .main-panel .navbar .navbar-header .navbar-header-logo {
  width: 12%;
}

.wrapper .main-panel {
  float: none;
  z-index: auto;
  width: 100%;
  min-height: unset;
}

.wrapper .main-panel .main-content {
  padding: 15px;
}

.wrapper .main-panel .footer {
  background-color: #fff;
}

.wrapper .main-panel .footer .copyright {
  margin: 0;
  padding: 15px 10px;
  text-align: left;
}

.debug {
  display: none;
}

.admin .debug {
  display: block;
}